<%# EJS Check Title and display view %>
<% if (title) { %>
    <h1 class="form-title"><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<div class="form-container">
    <%- messages() %>
    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error => { %>
                <% if (error.msg.toLowerCase() != 'invalid value') { %>
                    <li><%= error.msg %></li>
                <% } %>
            <% }) %>
        </ul>
    <% } %>

    <%# UPDATE ACCOUNT INFO FORM %>
    <form action="/account/process-account-info-update" method="post" id="update-account-info-form" class="forms">
        <fieldset>
            <legend>Update Info</legend>
            <label>
                First name: 
                <input type="text" name="account_firstname" id="account_firstname" value="<%= locals.account_firstname %>" required>
            </label>
            <label>
                Last name: 
                <input type="text" name="account_lastname" id="account_lastname" value="<%= locals.account_lastname %>" required>
            </label>
            <label>
                Email: 
                <input type="email" name="account_email" id="account_email" required value="<%= locals.account_email %>" placeholder="Enter a valid email address">
            </label>
            
            <input type="submit" disabled class="submit-btn" value="UPDATE">

            <input type="hidden" name="account_id"
            <% if(locals.account_id) { %> 
                value="<%= locals.account_id  %>"
            <% } %>>
        </fieldset>
    </form>

    <%# CHANGE ACCOUNT PASSWORD FORM %>
    <form action="/account/process-account-password-update" method="post" id="update-account-password-form" class="forms">
        <fieldset>
            <legend>Change Password</legend>
            <label>
                Password: 
                <span class="password-and-show-btn">
                    <input type="password" name="account_password" value="<%= locals.account_password %>" id="account_password" class="register-password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" title="Password must be a minimum of 12 characters, contain at least 1 capital letter, 1 number and 1 special character." required>
                    <span id="show-hide-pass-btn">show</span>
                </span>
            </label>
            <span class='text-warning'>WARNING: By entering a password, your password will be updated to the entered password.</span>
            <span class="form-note">
                Password must be a minimum of 12 characters, contain at least 1 capital letter, 1 number and 1 special character.
            </span>
            <input type="submit" class="submit-btn" value="CHANGE PASSWORD">
            
            <input type="hidden" name="account_id"
            <% if(locals.account_id) { %> 
                value="<%= locals.account_id  %>"
            <% } %>>
        </fieldset>
    </form>
</div>
<script>
    // Show and Hide Password
    // important variables
    const showPassText = 'show';
    const hidePassText = 'hide';

    // get elements
    const showHidePassBtn = document.getElementById('show-hide-pass-btn');
    const passWordInput = document.getElementById('account_password');

    // set initial states
    showHidePassBtn.textContent = showPassText;

    // create show/hide password functionality
    showHidePassBtn.addEventListener('click', () => {
        if (showHidePassBtn.textContent == showPassText) {
            showHidePassBtn.textContent = hidePassText;
            passWordInput.setAttribute('type', 'text');
        } else {
            showHidePassBtn.textContent = showPassText;
            passWordInput.setAttribute('type', 'password');
        }
        // console.log('clicked show/hide password btn');  // for testing purpose
    })

    // ENABLE SUBMIT BUTTON WHEN CHANGE IS MADE
    const updateAccountInfoForm = document.getElementById('update-account-info-form');
    updateAccountInfoForm.addEventListener('change', ()=> {
        const submitBtn = document.querySelector('input[type="submit"]')
        submitBtn.removeAttribute('disabled');
    })
</script>
